<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Audio Tag Analyzer</h1>

   <div class="center">
    <file-drop (onFileDrop)="dropped($event)"
               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <span>Drop audio files here</span>
    </file-drop>
    <div *ngFor="let upload of uploads">

      <h4>File information</h4>
      <table class="table">
        <tr><td>Name</td><td>{{ upload.fileEntry.name }}</td></tr>
        <tr><td>File type</td><td>{{ upload.file.type }}</td></tr>
      </table>

      <div *ngIf="upload.metadata.common.picture">
        <h4>Embedded cover art</h4>
        <div *ngFor="let picture of upload.metadata.common.picture">
          <table class="table">
            <tr><td>Format</td><td>{{ picture.format }}</td></tr>
            <tr><td>Type</td><td>{{ picture.type }}</td></tr>
            <tr><td>Description</td><td>{{ picture.description }}</td></tr>
          </table>
          <img src="data:{{ picture.format }};base64,{{picture.data.toString('base64')}}" class="img-thumbnail">
        </div>
      </div>

      <div *ngIf="upload.parseError" class="alert alert-severe">
        {{ upload.parseError.message }}
      </div>

      <div *ngFor="let tagList of tagLists">

        <h4>{{ tagList.title }}</h4>

        <table class="table">
          <tr>
            <th>Label</th>
            <th>Value</th>
            <th>Property name</th>
          </tr>
          <tr *ngFor="let tag of tagList.tags">
            <td><a *ngIf="tag.ref" target="_blank" href="{{tag.ref}}">{{tag.label}}</a><span *ngIf="!tag.ref">{{tag.label}}</span></td>
            <td>{{tag.value}}</td>
            <td>{{tag.key}}</td>
          </tr>
        </table>

      </div>
    </div>

  </div>

</div>


