<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row">
    <div class="col">
    </div>
    <div class="col-auto" *ngFor="let logo of logos">
      <img [src]="logo" class="img-fluid" style="height:40px;margin: 5px"/>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <img src="assets/icon/audio-tag-analyzer.svg" alt="" width="72" height="72">
    </div>
    <div class="col-auto">
      <h1>Audio Tag Analyzer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6">
      <footer class="blockquote-footer">
        <a href="https://github.com/Borewit/audio-tag-analyzer">Audio-Tag-Analyzer</a> v{{ version.app }} |
        <a href="https://github.com/Borewit/music-metadata">music-metadata</a> v{{ version.mm }}
      </footer>
    </div>
  </div>


  <div class="center">

    <div class="col-md-12">
      <file-pond #myPond
                 [options]="pondOptions"
                 [files]="pondFiles"
                 (oninit)="pondHandleInit()"
                 (onaddfile)="pondHandleAddFile($event)"
                 (onactivatefile)="pondHandleActivateFile($event)"
                 (onremovefile)="pondHandleRemoveFile($event)">
      </file-pond>
    </div>

    <div *ngFor="let result of results">

      <h2>File information</h2>
      <table class="table">
        <tr>
          <td class="text-right">Name</td>
          <td>{{ result.file.name }}</td>
        </tr>
        <tr>
          <td class="text-right">File type</td>
          <td>{{ result.file.type }}</td>
        </tr>
        <tr>
          <td class="text-right">Size</td>
          <td>{{ result.file.size }}</td>
        </tr>
        <tr>
          <td class="text-right">Last modified</td>
          <td>{{ result.file.lastModifiedDate }}</td>
        </tr>
      </table>

      <div *ngIf="!result.metadata && !result.parseError" class="alert alert-info">
        Parsing...
      </div>

      <div *ngIf="result.metadata">
        <h2>Quality information</h2>
        <div *ngIf="result.metadata && result.metadata.quality.warnings.length > 0">
          <h2>Parser warnings</h2>
          <div *ngFor="let warning of result.metadata.quality.warnings"
               class="alert alert-warning">{{ warning.message }}
          </div>
        </div>
        <div *ngIf="result.metadata && result.metadata.quality.warnings.length === 0">
          <div class="alert alert-success">No issues found</div>
        </div>
      </div>

      <div *ngIf="result.parseError" class="alert alert-danger">
        <p>Failed to parse <i>{{ result.file.name }}</i>.
        <p>Error message: {{ result.parseError }}.</p>
        <p>If you believe this is a bug, please <a target="_blank"
                                                   href="https://github.com/Borewit/audio-tag-analyzer/issues">open an
          issue here</a>.<br/>
          Don't forget to attach the audio file which could not be parsed.
        </p>
      </div>

      <div *ngIf="result.metadata">
        <div *ngIf="result.metadata.common.picture">
          <h3>Embedded cover art</h3>
          <div *ngFor="let picture of result.metadata.common.picture" class="media col-md-8">
            <img alt="embedded cover" src="data:{{ picture.format }};base64,{{base64Encode(picture.data)}}" class="img-thumbnail">
            <div class="media-body">
              <table class="table">
                <tr>
                  <td class="text-right">Format</td>
                  <td>{{ picture.format }}</td>
                </tr>
                <tr>
                  <td class="text-right">Type</td>
                  <td>{{ picture.type }}</td>
                </tr>
                <tr>
                  <td class="text-right">Description</td>
                  <td>{{ picture.description }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div *ngFor="let tagList of tagLists">

          <h2>{{ tagList.title }}</h2>

          <table class="table">
            <tr>
              <th class="text-right">Label</th>
              <th>Value</th>
              <th>Property name</th>
            </tr>
            <tr *ngFor="let tag of tagList.tags">
              <td class="text-right"><a *ngIf="tag.label.ref" target="_blank"
                                        [href]="tag.label.ref">{{ tag.label.text }}</a><span
                *ngIf="!tag.label.ref">{{ tag.label.text }}</span></td>
              <td>
                <span *ngFor="let v of tag.value; let first = first;">
                  <span *ngIf="!first">, </span>
                  <a *ngIf="v.ref" target="_blank" [href]="v.ref">{{ v.text }}</a>
                  <span *ngIf="!v.ref">{{ v.text }}</span>
                </span>
              </td>
              <td>{{ tag.key }}</td>
            </tr>
          </table>

        </div>

        <h2>Native tags</h2>

        <div *ngFor="let type of nativeTags">

          <h3>{{ type.type }}</h3>

          <table class="table">
            <tr>
              <th class="text-right">Key</th>
              <th>Value</th>
            </tr>
            <tr *ngFor="let tag of type.tags">
              <td class="text-right">{{ tag.id }}</td>
              <td>{{ tag.value }}</td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>
